.login-con{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .employeer {
    position: relative;
    width: 350px;
    height: auto;
    margin-top: 3%;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, 0px 0px 0px white;
  }
  
  .brand-logo {
    height: 100px;
    width: 100px;
    background: url("https://img.icons8.com/color/100/000000/twitter--v2.png");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  }
  
  .brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    
    letter-spacing: 1px;
    text-align: center;
  }
  
  .inputs {
    text-align: left;
    margin-top: 30px;
  }
  
  .emp, .pass {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  .text-join{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .text-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;

  }
  .first-p{
    font-weight: bold;
    font-family: "Niconne", cursive;
    color: #fff;
    
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3), 
      5px -8px 15px rgb(0, 0, 0);
  }
  .first{
    font-weight: bold;
    
    letter-spacing: 6px;
    font-family: "Niconne", cursive;    
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3), 
      5px -8px 15px rgb(0,0,0);
  }
  .main-class{
    background-image: linear-gradient(rgba(16,29,44,.95), rgba(16,29,44,.95));
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: auto;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
      }
  
  
  la {
    margin-bottom: 4px;
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  input::placeholder {
    color: gray;
  }
  
  .emp {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  .pass {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  
  
  
  .btnsd:hover {
    color: #000;
  }
  
  
  
  h1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .heading-container {
    text-align: center;
  }
  
  .heading {
    font-weight: 600;
  }
  
  .credit {
    margin: 10px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .credit a {
    color: inherit;
  }
  
  a,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  a::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  a:hover::after {
    width: 100%;
  }
  
  
  .main-container {
    padding: 30px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
  }
  
  .card:hover {
    box-shadow: -20px -20px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__exit {
    grid-row: 1/2;
   
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  .card-1 {
    background: radial-gradient(#8ac6d1,#8ac6d1);
    
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }
  
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
 
  
  @media (max-width: 1600px) {
    .card-container {
      justify-content: center;
    }
  }
  